<section class="bg-light py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="text-center my-5">
                <h2 class="display-5 fw-bolder"><span class="text-primary d-inline">About TagMe</span></h2>
                <p class="lead fw-light mb-4">TagMe is a photo tagging and management service hosted on AWS</p>
                <p class="text-muted">Using AWS Rekognise, TagMe manages and automatically tags your images with key words for quick access</p>
            </div>
        </div>
    </div>
</section>