<section class="">
    <div class="container">
        <div class="p-5 m-4 bg-body-tertiary rounded-3">
            <div class=" row container-fluid py-5">
                <div class="col-8 col-8 d-flex flex-column align-items-center justify-content-center">
                    <h1 class="display-5 fw-bold ">Welcome to <span class="grad">TagMe</span></h1>
                    <p class="fs-4">
                        Manage all your photos in one place! Using Amazons Cloud AI, TagMe is able to tag your photos so
                        you can search your library based on their contents
                    </p>
                    <button class="btn btn-primary btn-lg" onclick="location.href='/dashboard'" type="button">Try Me</button>
                </div>
                <div class="col-4">
                    <img src="collage.png" alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
</section>