body {
    overflow: scroll; /* Show scrollbars */
}

.image-box{
    width: 300px;
    height: 300px;
}

.grad {
    background: linear-gradient(90deg, rgba(62,194,89,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.labels{
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(67, 67, 67, 0.339);
}

.image-box:hover .labels{
    display: flex;
}



