<!doctype html>
<html lang="en" class="h-100">


<head>
    <title>EchoNote - Audio Transcriber</title>
    <%- include('partials/head') %>
</head>

<body class="d-flex flex-column h-100">

    <%- include('partials/nav'); %>

    <div class="row d-flex align-items-center  justify-content-center h-100 bg-light">
        <div class="col-4 text-center">
            <h1 class="">Upload your Image</h1>
        </div>
        <div class="col-8 w-50 ">
            <form class="p-2 border border-primary rounded" method="post">
               
    
                <div class="border-2">
                    <label for="formFile" class="form-label"></label>
                    <input class="form-control" type="file" id="formFile">
                </div>
    
                <button class="btn btn-primary py-2 mt-3 w-25" type="submit">Upload</button>
            </form>

        </div>
    </div>


       



        <%- include('partials/footer'); %>
            <script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
</body>

</html>