<!doctype html>
<html lang="en" class="h-100">

<head>
    <title>TagMe - Home</title>
    <%- include('partials/head') %>
</head>

<body class="d-flex flex-column h-100">

    <%- include('partials/nav'); %>
        <%- include('partials/about'); %>
            <%- include('partials/footer'); %>
                <script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
</body>

</html>